*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}


.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(3, 175, 175);
}


.cone{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    margin-top: 70vh;
    background: linear-gradient(to right, rgb(0, 216, 169),rgb(0, 194, 194));
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: gray;
    font-weight: 500;

    font-size: 24px;
    font-family: 'Tenor Sans', sans-serif;
}

form input, form  textarea , form select , form select option{
    border: 0;
    margin: 10px 0 ;
    padding:  20px;
    outline: none;
    background: whitesmoke;
    border-radius: 10px;
    font-size: 16px;

}

form button{
    padding: 15px;
    background: linear-gradient( to right , rgb(5, 190, 45) , rgb(2, 151, 131));
    outline: none ;
    border: 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto o;
    border-radius: 15px;
}
























@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(to right,rgb(0, 168, 126), rgb(0, 202, 202) ) ;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
      color: white;
    }

    .menu-icon{
        display: block;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2.steth{
        width: 97%;
    }
    
    .color-box{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }

    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 25px;
    }

    .cone{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    form{
        margin-top: 45vh;
        background: linear-gradient(to right, rgb(0, 216, 169),rgb(0, 194, 194));
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
        font-family: 'Tenor Sans', sans-serif;

    }
    
    form h3{
        color: gray;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 0px;
        font-family: 'Tenor Sans', sans-serif;
    }
    
    form input, form  textarea , form select , form select option{
        border: 0;
        margin: 10px 0 ;
        padding:  15px;
        outline: none;
        background: whitesmoke;
        border-radius: 10px;
        font-size: 13px;
    
    }
    
    form button{
        padding: 12px;
        background: linear-gradient( to right , rgb(5, 190, 45) , rgb(2, 151, 131));
        outline: none ;
        border: 0;
        color: white;
        font-size: 14px;
        cursor: pointer;
        width: 140px;
        margin: 15px auto o;
        border-radius: 15px;
    }
    
}