*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 150PX;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(3, 175, 175);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 ;
}

.row{
    display: flex;
    align-items: center;
    margin: 50px 0 ;
}


.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;

}

.col-1 h2{
    font-size: 52px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 100;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right,rgb(0, 168, 98), rgb(0, 202, 202) ) ;
    border-radius: 6px;
    cursor: pointer;
    
}

button:hover{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right,rgb(0, 167, 179), rgb(0, 202, 135) ) ;
    border-radius: 6px;
    cursor: pointer;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    position: absolute;
    left: -40px;
    top: 8px;
    background: linear-gradient(to right,rgb(0, 168, 126), rgb(0, 202, 175) ) ;
}

.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;

}

.col-2 .steth{
    width: 60%;
    transform: translateX(170px);
}

.col-2 .steth2{
    width: 60%;
    transform: translateX(370px);
}

.col-2 nav{
    flex: 1;
    text-align: center;

}

.col-2 nav ul li{
    list-style: none;
    display: block;
    margin-right: 30px;
    justify-content: space-between;
    font-weight: 500;
    margin: 10px;
}

.col-2 nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    font-weight: 500;
}

.col-2 nav ul li a:hover{
    color: rgb(0, 105, 44);
}


.color-box{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgb(0, 168, 126), rgb(0, 202, 175) ) ;
    z-index: -1;
    transform: translateX(150px);
}

.color-box1{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 100000px;
    background: linear-gradient(to right,rgb(0, 168, 126), rgb(0, 202, 175) ) ;
    z-index: -1;
    transform: translateX(1000px);
}


.add img{
    width: 35px;
    margin-bottom: 5px;
}
.add{
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 100px ;
}

.socials img{
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.socials{
    text-align: center;
}

.buy{
    background: none;
}

.buy:hover{
    background: none;
}

.col-0{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    text-align:center;
    justify-content: space-between;
}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(to right,rgb(0, 168, 126), rgb(0, 202, 202) ) ;
        position: absolute;
        top: 125px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
      color: white;
    }

    .menu-icon{
        display: block;
    }

    .add img{
        width: 35px;
        margin-bottom: 5px;
    }
    .add{
        text-align: center;
        color: white;
        cursor: pointer;
        margin-left: 10px ;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2.steth{
        width: 97%;
    }
    
    .color-box{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }

    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 25px;
    }
    .col-2 .steth2{
        width: 60%;
        transform: translateX(60px);
    }
    .col-2 nav{
        flex: 1;
        text-align: left;
    
    }
    .col-2 nav ul{
        width: 100%;
        background: none;
        position: absolute;
        top: 75px;

        z-index: 2;
    }    
    .col-2 nav ul li{
        list-style: none;
        display: block;
        margin-right: 30px;
        margin: 10px;
    }
    
    .col-2 nav ul li a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        font-family: sans-serif;
        justify-content: left;

    }
    
    .col-2 nav ul li a:hover{
        color: rgb(0, 105, 44);
    }
    
    
}